<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    
	 {{>nav}}
    
    <section class="home-slider js-fullheight owl-carousel bg-white">
      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url({{{cdn}}}/images/bg_3.jpg);">
          		<div class="overlay"></div>
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text mt-md-5">
		            <h1 class="mb-4">Eat Healthy <br> and Natural Food</h1>
		            <p>{{page.hero.subtext}}</p>
		            	            </div>
	          </div>
        	</div>
        </div>
      </div>

      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url({{{cdn}}}/images/bg_2.jpg);">
          		<div class="overlay"></div>
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text mt-md-5">
		            <h1 class="mb-4">We Know You Love <br> Delicious Food</h1>
		            <p>{{page.hero.subtext}}</p>
		            
	            </div>
	          </div>
        	</div>
        </div>
      </div>
    </section>
	

		<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end" style="background-image: url({{{cdn}}}/images/about.jpg); position: relative"></div>
					<div class="col-sm-7 wrap-about py-5 ftco-animate">
	          <div class="heading-section mt-5 mb-4">
	          	<div class="pl-lg-5 ml-md-5">
		          	<span class="subheading">About</span>
		            <h2 class="mb-4">{{page.about.header}} </h2>
	            </div>
	          </div>
	          <div class="pl-lg-5 ml-md-5">
							<p>{{page.about.subtext}}</p>
							<h3 class="mt-5">Special Recipe</h3>
							<div class="thumb my-4 d-flex">

							{{#page.about.images}}
	            	<a href="#" class="thumb-menu pr-md-4 text-center">
	            		<div class="img" style="background-image: url({{{cdn}}}{{image}});"></div>
	            		<h4>{{caption}}</h4>
	            	</a>
					{{/page.about.images}}
					
	            </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({{{cdn}}}/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-10">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="29">0</strong>
		                <span>Years of Experienced</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="80000">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="320">0</strong>
		                <span>Working Days</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>



    

    <section class="ftco-section testimony-section" style="background-image: url({{{cdn}}}/images/bg_5.jpg);" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<span class="subheading">Testimony</span>
            <h2 class="mb-4">Happy Customer</h2>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-7">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({{{cdn}}}/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">The food at Hashanie's is exceptional! Very tasty and well prepared and you can chose among many menu options. I love the service at the place.</p>
                    <p class="name">Arthur Browner</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({{{cdn}}}/images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Searching for places to eat in the local area and this place popped up. I don’t normally leave reviews but I feel compelled as the food was absolutely exquisite. </p>
                    <p class="name">Shehan Amarasinghe</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({{{cdn}}}/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Amaazing food! The whole experience from start to finish is great waiters were always so friendly and kind. The food can’t get better and the prices are fair for the portion size. Always a great spot to get great food.</p>
                    <p class="name">Arthur Browner</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({{{cdn}}}/images/person_4.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Absolutely amazing! The place is beautiful and staff are super friendly and the food is delicious. I love that you get a lot of food as well for the price. It’s definitely not like other expensive restaurants and you only get a small amount of food. I am definitely going back.</p>
                    <p class="name">Savindu Rathnayake</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({{{cdn}}}/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Legitimately the best restaurant around Colombo. Doesn’t matter what I get I end up liking it. My partner and I have been eating here for a few years now. They make the best breakfast and probably the best I’ve had.</p>
                    <p class="name">Kamal Wijesinghe</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
			

		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row d-flex">
          <div class="col-md-5 ftco-animate img img-2" style="background-image: url({{{cdn}}}/images/bg_6.jpg);"></div>
          <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
          	<div class="heading-section ftco-animate mb-5">
	          	<span class="subheading">Book a Table</span>
	            <h2 class="mb-4">Make Reservation</h2>
	          </div>
            <form action="/order" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Name</label>
                    <input id="order-name" name="name" type="text" class="form-control" placeholder="Your Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input id="order-email" name="email" type="text" class="form-control" placeholder="Your Email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Order</label>
                    <textarea id="order-description" name="order" style="background:#fffffa !important" class="form-control" rows="8" placeholder="Describe your order here..."></textarea>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div id="btn-order-container" class="form-group">
                    <input id="btn-order" type="submit" value="Place Order" class="btn btn-primary py-3 px-5">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
			</div>
		</section>

    {{>footer}}
    {{>scripts}}
	<script>
      (function(){
        console.log('HELLO!')
        $('#btn-order').click(function(event){
          if (event)
            event.preventDefault()

          var order = {
            name: $('#order-name').val(),
            email: $('#order-email').val(),
            order: $('#order-description').val()
          }

          console.log('PLACE ORDER: ' + JSON.stringify(order))
          $.ajax({
            url: '/order',
            method: 'post',
            data: order,
            success: function(resp){
              console.log('ORDER RECEIVED: '+JSON.stringify(resp))
              $('#btn-order-container').html('<h3>Thanks! We will send you an email when your order is ready!</h3>')
              
            },
            error: function(resp){

            }
          })

        })

      })()    
    </script>
  

 
    
  </body>
</html>